* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #36384d;
}
.content{
    padding: 10px;
    margin: 100px;
    display: flex;
    justify-content:center;
}
.card {
    width: 400px;
    height: 400px;
    background-color: white;
    color: black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 40px;
    border-radius: 40px;
    align-content: center;
} 
.header {
    background: url(./assets/images/icon-list.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50px;
}
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #252b45;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .9rem;
    margin-bottom: 20px;
    color: #252b45;
}
.text span {
    font-weight: 600;
}
button {
    margin-top: 20px;
    background-color: #232742;
    color: white;
    border-radius: 5px;
    height: 40px;
    font-size: 0.7rem;
    border: none;
    font-weight: 400;
    cursor: pointer;
}
button:hover {
    background-color:hsl(4, 100%, 67%) ;
    box-shadow: rgba(rgb(104, 48, 48), rgb(57, 118, 57), rgb(24, 24, 44), 0.15);
}

@media (max-width: 780px) {
    .content {
        margin-top: 0;
    }
    .card {
        height: 600px;
        width: 400px;
        border-radius: 0;
    }
    .title {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        color: #252b45;
    }
    .text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 0.8rem;
        margin-bottom: 90px;
        margin-top: 0px;
        color: #252b45;
    }
    .text span {
        font-weight: 600;
    }
}